<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Summary</th>
    <th>Start time</th>
    <th>Pay rate</th>
    <th>Importance</th>
    <th>Password</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.summary %></td>
    <td><%= project.start_time %></td>
    <td><%= project.pay_rate %></td>
    <td><%= project.importance %></td>
    <td><%= project.password %></td>
    <td><%= project.description %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
